[user]
	name = 
	email = 

[alias]
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	ba = branch -a
	bm = branch --merged
	bn = branch --no-merged
	br = branch
	ca = commit -a
	ch = checkout
	ci = commit -m
	df = diff
	dl-merged = git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	mg = merge
	open = "!hub browse"
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	rb = rebase
	s = status

  # ---- Visualization ----
  # Compact (1 line per ci) 
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # History details with absolutes dates
  dlog = log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)[%ad]%Creset %Cgreen%an%Creset%C(auto)%d%Creset %n         %s%n' --date=iso
  # Minimal (--oneline upgrade)
  adog = log --all --decorate --oneline --graph
  # History with modifies files
  flog = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%Creset' --stat
  # Special for mg's
  tlog = log --graph --pretty=format:'%C(auto)%h %s %C(cyan)(%cr) %C(bold red)%d%Creset' --topo-order
 	# History with authors and changes
  hist = log --pretty=format:'%C(green)%h %C(cyan)%ad %C(yellow)[%an]%Creset %s %C(auto)%d%Creset' --graph --date=relative --all
 	# With last commits (for cleaner)
  branches = for-each-ref --sort=-committerdate --format='%(color:cyan)%(authordate:relative) %(color:white)%(refname:short)%(color:reset) - %(contents:subject) %(color:yellow)%(objectname:short)' refs/heads/
  
	undoci = reset HEAD~

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
	current = yellow
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
[fetch]
	prune = true
